/* index ここから*/

header {
    height: 120px;
    background-color: bisque;
}

main {
    width: 80%;
    margin:16px auto;
    text-align: center;
     /* width: 400px; */
     background-color: rgb(238, 255, 231);
}

main h1 {
    font-size: 20px;
}

main .about {
    width: 60%;
    /* text-align: center; */
    margin:16px auto;
}

main .pics{
    height: 200px;
    width: 60%;
    background-color: blanchedalmond;
    margin:16px auto;
}

.posts {
    width: 400px;
    margin: 16px auto;
    background-color: rgb(255, 255, 247)
}

.posts ul {
    list-style-type: none;
    margin:16px auto;
}

main a {
    margin: 16px auto;
}

footer {
    height: 120px;
    background-color: bisque;
}



/* .container {
    /* width: 400px; */
    /* margin:16px auto; */
    /* background-color: rgb(238, 255, 231); */
/* } */

/* .container h1 { */
    /* font-size: 20px; */
    /* color: rgb(143, 143, 143); */
/* } */

/* .container h1 a {
} */


/* indexここまで */


main .create{
    width: 80%;
    margin:16px auto;
    text-align: center;
     /* width: 400px; */
     background-color: rgb(238, 255, 231);
}

.postcreate div{
    width: 70%;
    margin:16px auto;
}

.back-link {
    text-align: right;
}
form div + div {
    margin-top: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    height: 5em;
}


/* show  */

main .show{
    height: 200px;
    width: 60%;
    background-color: blanchedalmond;
    margin:16px auto;
}


.comment-delete-form {
    display: inline-block;
}
